
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Checkout</title>
		<link rel='shortcut icon' type='image/x-icon' href="/icon.ico" />
		<meta name="viewport" content= "width=device-width, initial-scale=1.0">
		<link href="/css/styleStore.css" type="text/css" rel="stylesheet" />
		<script type="module" src="/main.js"></script>
	</head>
	<body>
		<header>
		<h1>Checkout</h1>
		<ul>
			<li><button>About You</button>
			<ul>
				<li><a href="/customerProfile">Your Profile </a></li>
				<li><a href="/aboutUs">About Us </a> </li>
				<li>
				<strong>
				{{#if authorised}}
						<a href="/logout">Log out</a>
				{{else}}
						<a href="/login">Log in</a>
				{{/if}}
				</strong>
					</li>
				</ul>
			</li>
		</ul>
				<a href="/home">Home</a>
				<a href="/blog">Community</a>
				<a href="/store">Store</a>
				<a href="/adoption">Adoption</a>
				<a href="/Search">Search</a>
		</header>


		<main>
			<h4> Not finished shopping, go back to our store page here: <a href="/store">Store</a> </h4>
			<table>
				<tr>
				<th name="Item_Name">Item Name</th>
				<th name="Total_Qty">Total Qty</th>
				<th name="Total_Price">Total Price</th>
				</tr>
							{{#each order}}
							<tr>
							<td name="Item_Name">{{Item_Name}}</td>
							<td name="Item_Qty">{{Item_Qty}}</td>
							<td name="Total_Price">{{Total_Price}}</td>
							</tr>
							{{/each}}
			</table>
			


			{{!-- button takes you to PAYMENT page (doesn't pass data, doesn't need to be inpue type) --}}
			{{!-- even though it is a "submit" button, it's encased in <a href> so it can redirect to payment --}}
			{{!-- <a href="/payment">
			<button type="submit">Make Payment<button>
			</a> --}}

			<button type="submit" value="Make Payment"><a href="/payment">Make Payment</a></button>

		{{!-- {{#if auth}}
			<p>Logged in as <strong>{{auth}}</strong></p>
		{{/if}}
		  <p><a href="/">Home page</a></p> --}}
		</main>

	<footer>
        <label>Menu</label>
		<ol>
            <li><a href="/home">Home</a></li>
            <li><a href="/adoption">Adoption</a></li>
            <li><a href="/store">Store</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/aboutUs">About Us </a></li>
			<li><a href="/contact">Contact Us</a></li>
        </ol>
	   <a href = "#top">Back to the top</a>  

	   <p>@Copyright 2022 - Group 1A</p>   
	</footer>

	</body>
</html>
